<div class="card">
    <div class="card-body">
        <h5 class="card-title text-center mt-1 mb-5">Add Expenses</h5>
        <form [formGroup]="expensesForm">
            <div class="form-outline mb-3 text-left">
                <label class="form-label" for="type">Type</label>
                <select class="browser-default custom-select" formControlName="category" name="category">
                    <option selected>select</option>
                    <option value="1">Clothing</option>
                    <option value="2">Electricity Bill</option>
                    <option value="3">Food</option>
                    <option value="4">Personal Care</option>
                    <option value="5">Phone Bill</option>
                    <option value="6">Savings</option>
                    <option value="7">Transportation</option>
                    <option value="8">Water Bill</option>
                </select>
            </div>
            <div class="form-outline mb-3 text-left">
                <label class="form-label" for="amount">Amount</label>
                <input formControlName = 'expense_amount' type="number" id="amount" class="form-control" />
            </div>
            <div class="form-outline mb-3 text-left">
                <label class="form-label" for="note">Description</label>
                <textarea formControlName = 'note' type="text" id="note" name="note" class="form-control"></textarea>
            </div>
            <div class="form-outline text-left">
                <label class="form-label" for="date">Expenditure Date</label>
                <input formControlName = 'expense_date' type="date" id="date" name="date" class="form-control">
            </div>
            <button type="submit" class="btn btn-success btn-block text-center mt-3" mdbWavesEffect (click)="add()" routerLink='../dashboard'>SAVE</button>
        </form>
    </div>
</div>