<div class="card">
    <div class="card-body">
        <h5 class="card-title mt-3 mb-5">Add Expenses</h5>
        <form [formGroup]="expensesForm">
            <div class="form-outline mb-3">
                <label class="form-label" for="type">Type</label>
                <select class="browser-default custom-select" formControlName="category" name="category">
                    <option selected>select</option>
                    <option value="1">Clothing</option>
                    <option value="2">Electricity Bill</option>
                    <option value="3">Food</option>
                    <option value="4">Personal Care</option>
                    <option value="5">Phone Bill</option>
                    <option value="6">Savings</option>
                    <option value="7">Transportation</option>
                    <option value="8">Water Bill</option>
                </select>
            </div>
            <div class="form-outline mb-3">
                <label class="form-label" for="amount">Amount</label>
                <input type="number" id="amount" class="form-control" formControlName="amount" name="amount" required/>
            </div>
            <div class="form-outline mb-3">
                <label class="form-label" for="date">Expenditure Date</label>
                <input type="date" id="date" class="form-control" formControlName="date" name="date">
            </div>
            <div class="showInputField"></div> 
            <button type="submit" mdbBtn color="success" class="save" mdbWavesEffect>SAVE</button>
            <button type="submit" mdbBtn color="success" mdbWavesEffect (click)="add()">ADD</button>
        </form>
    </div>
</div>