<div class="container">
    <div class="jumbotron">
        <div class="title">
            <div class="home">
                <h1>EXPENSES&nbsp;TRACKER</h1>
            </div>
            <div class="scroll-left">
                <p>Helps you keep a list of your expenses. Helps you analyze your expenses more appropriately. Helps you save more!</p>
            </div>
        </div>
    </div>
</div>
    <div class="about">
        <h2>ABOUT</h2>
        <p>An expense tracker is a web-based application that keeps track of one’s daily expenses.  It has personal finance dashboard for whoever signs up. It tracks and categorizes one’s expenses and from there, creates a pie graph with weekly and monthly basis. It also summarizes the yearly expenses of the user.  It also provides an expense report for the user.</p>
    </div>

