.scroll-left {
    height: 50px;	
    overflow: hidden;
    background: rgba(0, 0, 0, 0.336);
   }
   .scroll-left p {
    margin: 0;
    line-height: 50px;
    text-align: center;
    /* Starting position */
    -moz-transform:translateX(20%);
    -webkit-transform:translateX(20%);	
    transform:translateX(20%);
    /* Apply animation to this element */	
    -moz-animation: scroll-left 15s linear infinite;
    -webkit-animation: scroll-left 15s linear infinite;
    animation: scroll-left 15s linear infinite;
   }
   /* Move it (define the animation) */
   @-moz-keyframes scroll-left {
    0%   { -moz-transform: translateX(0%); }
    100% { -moz-transform: translateX(-100%); }
   }
   @-webkit-keyframes scroll-left {
    0%   { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(-100%); }
   }
   @keyframes scroll-left {
    0%   { 
    -moz-transform: translateX(0%); /* Browser bug fix */
    -webkit-transform: translateX(0%); /* Browser bug fix */
    transform: translateX(0%); 		
    }
    100% { 
    -moz-transform: translateX(-100%); /* Browser bug fix */
    -webkit-transform: translateX(-100%); /* Browser bug fix */
    transform: translateX(-100%); 
    }
   }
   
   .title{
       text-align: left;
       margin: auto 0;
       padding-left: 1%;
       border-left: 10px solid green;
       width: 100%;
   
   }
   .home{
        overflow: hidden;
   }

   h1{
       color: gold;
       text-shadow: 5px 5px 5px black;
       font-size:80px;
   }

   .container{
       margin-top: 10%;
   }

    .jumbotron{
    background-color: rgba(0, 0, 0, 0.411);
}

   .about{
       margin: 0 2%;
       margin-top: 5%;
       padding: 2%;
        background-color: rgb(255, 255, 255);
        text-justify: auto;
        text-align: left;
        
    }
    h2{
        font-size: 25px;
        text-shadow: 2px 2px 2px black;
        text-align: left;
        margin: 2%;
        padding-left: 1%;
        color : green;
        width: 100%;
    }
    .about p {
        margin: 2%;
        color: black;
    }
   
   