<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading" *ngIf = 'user'><a [routerLink] = "'profile'">{{user.first_name}} {{user.last_name}}</a></div>
      <div class="list-group list-group-flush">
        <a [routerLink]="'dashboard'" class="list-group-item list-group-item-action bg-light">Dashboard</a>
        <a [routerLink]="'expenses'" class="list-group-item list-group-item-action bg-light">Expenses</a>
        <a [routerLink]="'expenses-report'" class="list-group-item list-group-item-action bg-light">Expenses Report</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
      <button class="btn btn-primary mt-5" id="menu-toggle" (click)='changeBtnValue()'>{{btnValue}}</button>
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </div>
    <!-- /#page-content-wrapper -->
  </div>

