<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading" *ngIf = 'user'>{{user.first_name}} {{user.last_name}}</div>
      <div class="list-group list-group-flush">
        <a routerLink="dashboard" class="list-group-item list-group-item-action bg-light">Dashboard</a>
        <a routerLink="expenses" class="list-group-item list-group-item-action bg-light">Expenses</a>
        <a routerLink="expenses-report" class="list-group-item list-group-item-action bg-light">Expenses Report</a>
        <div class="dropdown">
            <button class="dropbtn">Dropdown</button>
            <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
            </div>
          </div>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <button class="btn btn-primary mt-3" id="menu-toggle" (click)='changeBtnValue()'>{{btnValue}}</button>
        <h1 class="mt-4">Simple Sidebar</h1>
        <p>Add your content</p>
        <router-outlet></router-outlet>
      </div>
    </div>
    <!-- /#page-content-wrapper -->
  </div>

