<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <div class="error-details">
                    <img src="../../assets/image/error-image.png" alt="">
                </div>
                <div class="error-actions">
                    <a routerLink = '../' class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                        Take Me Back </a><a routerLink = '../' class="btn btn-warning btn-lg"><span class="glyphicon glyphicon-envelope"></span> Contact Support </a>
                </div>
            </div>
        </div>
    </div>
</div>