@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

h2 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
table {
    margin: auto;
    text-align: center;
}

button {
    height: 2.5rem;
}