<!-- <h1 class="text-center">Sign In</h1>

<form [formGroup] = "form" class="form mt-3" (submit)= "submit()">
    <div class="row">
        <div class="form-group col-6">
            <input type="text" formControlName = "first_name" name="first_name" class="form-control" placeholder="First Name">
        </div>
        <div class="form-group col-6">
            <input type="text" formControlName = "last_name" name="last_name" class="form-control" placeholder="Last Name">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-12">
            <input type="email" formControlName = "email" name="email" class="form-control" placeholder="Email">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-6">
            <input type="password" formControlName = "password" name="password" class="form-control" placeholder="Password">
        </div>
        <div class="form-group col-6">
            <input type="password" formControlName = "password_confirmation" name="password_confirmation" class="form-control" placeholder="Password Confirmation">
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]= "!form.valid">Register</button>
</form> -->

<div class="container">
    <div class="card mx-auto">
        <div class="card-body">
            <img src="../../../assets/Image/log.png" alt="" width="90px;" height="85px;">
            <h5 class="card-title text-center mt-4 mb-2">Sign Up</h5>
            <form [formGroup] = "form" (submit)= "submit()">
                <div class="row">
                    <div class="col">
                        <div class="md-form">
                            <mdb-icon fas icon="user-alt" class="prefix"></mdb-icon>
                            <input mdbInput type="text" formControlName = "first_name" name="first_name" class="form-control">
                            <label for="firstname" class="">Firstname</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="md-form">

                            <input mdbInput type="text" formControlName = "last_name" name="last_name" class="form-control">
                            <label for="lastname" class="">Lastname</label>
                        </div>
                    </div>
                </div>

                <!-- Email input -->
                <div class="md-form mt-1">
                    <mdb-icon fas icon="envelope" class="prefix"></mdb-icon>
                    <input mdbInput type="email" formControlName = "email" name="email" class="form-control">
                    <label for="email" class="">Email</label>
                </div>
                <!-- Password input -->
                <div class="md-form mt-1">
                    <mdb-icon fas icon="unlock" class="prefix"></mdb-icon>
                    <input mdbInput type="password" formControlName = "password" name="password" class="form-control">
                    <label for="password" class="">Password</label>
                </div>
                <div class="md-form mt-1">
                    <mdb-icon fas icon="unlock" class="prefix"></mdb-icon>
                    <input mdbInput type="password" formControlName = "password_confirmation" name="password_confirmation" class="form-control">
                    <label for="password" class="">Confirm Password</label>
                </div>

                <!-- Submit button -->
                <button type="submit" mdbBtn color="success" class="btn-block mb-3" mdbWavesEffect>Sign Up</button>
                <div class="text-center">
                    <p>Already signed up? <a href="#!">Login</a></p>
                </div>
            </form>
        </div>
    </div>
</div>