<div class="container-fluid" >
    <div class="row no-gutter">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image">
            <div class="mask">
                <div class="overlay mx-auto">
                    <h2 class="display-4">Welcome to</h2>
                    <h3>Expenses Tracker!</h3>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-lg-6 bg-color">
            <div class="register d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto">
                            <img src="../../../assets/image/logo.png" class="logo" alt="" height="90px;" width="90px;"
                                class="logo mx-auto d-block">
                            <form [formGroup]="form" (submit)="submit()">
                                <h3 class="form-heading">Register</h3>
                                <div class="row">
                                    <div class="col">
                                        <div class="md-form">
                                            <mdb-icon fas icon="user-alt" class="prefix"></mdb-icon>
                                            <input mdbInput type="text" formControlName="first_name" name="first_name"
                                                class="form-control">
                                            <label for="first_name" class="">Firstname</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="md-form">

                                            <input mdbInput type="text" formControlName="last_name" name="last_name"
                                                class="form-control">
                                            <label for="last_name" class="">Lastname</label>
                                        </div>
                                    </div>
                                </div>

                                <!-- Email input -->
                                <div class="md-form mt-1">
                                    <mdb-icon fas icon="envelope" class="prefix"></mdb-icon>
                                    <input mdbInput type="email" formControlName="email" name="email"
                                        class="form-control">
                                    <label for="email" class="">Email</label>
                                </div>
                                <!-- Password input -->
                                <div class="md-form mt-1">
                                    <mdb-icon fas icon="unlock" class="prefix"></mdb-icon>
                                    <input mdbInput type="password" formControlName="password" name="password"
                                        class="form-control">
                                    <label for="password" class="">Password</label>
                                </div>
                                <div class="md-form mt-1">
                                    <mdb-icon fas icon="unlock" class="prefix"></mdb-icon>
                                    <input mdbInput type="password" formControlName="password_confirmation"
                                        name="password_confirmation" class="form-control">
                                    <label for="password_confirmation" class="">Confirm Password</label>
                                </div>

                                <!-- Submit button -->
                                <button type="submit" mdbBtn color="success" class="btn-block mb-3"
                                    [disabled]="!form.valid" mdbWavesEffect>Sign
                                    Up</button>
                                <div class="text-center text-dark">
                                    <p>Already signed up? <a routerLink = "../login">Login</a></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>